.header img{
    width: 20%;
}
.header{
    text-align: center;
}
.header nav{
    line-height: 37px;
    background-color: black;
    font-size: 20px;
}
.header nav a{
    text-decoration: none;
    margin-right: 10px;
    color: #ffff;
    padding: 5px;
}
.header nav a:hover{
    background-color: grey;
}